@import url(http://fonts.googleapis.com/css?family=Lato:300);


body, h1, h2 {
	font-family: 'Lato', "Helvitca Neue" sans-serif;
}

#mapHolder {
	height: 500px;
	padding-left: 0px;
}

#indicator-range {
	display: block;
	text-align: center;
	margin-top: 15px;
}

#vertical-slider {
	height: 350px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

#active-year {
	margin-top: -50px;
	text-align: center;
	display: none;
}

#time-slider .ui-slider-range { 
	background: steelblue;
}

.step {
	font-family: 'mission_gothicthin_italic', sans-serif;
	font-size: 2em;
	color: grey;
	position: absolute;
}

#step1 {
	left: 33%;
	top: 90px;
}

#step2 {
	top: 63px;
	right: 30%;
}

#step3 {
	top: 249px;
	right: 18%;
}

#step4 {
	bottom: 60px;
	left: 32%;
}